<style>
    body {
        background-color: #e6e6e6;
    }

    .About {
        background-color: #2A1E5E;
        color: white;
        margin: 20px;
        padding: 20px;
    }

    h2 {
        color: #F0B734;
    }

    p {
        font-size: 20px;
    }
</style>

<div class="About">
    <h2>Centric Consulting Employee Values</h2>


    <p>1. "Commit to Delivery Excellence."</p>
    <p>2. "Embrace Integrity and Openness."</p>
    <p>3. "Practice Responsible Stewardship."</p>
    <p>4. "Invest in an Exceptional Culture."</p>
    <p>5. "Ignite Passion for the Greater Good."</p>
    <p>6. "Strive to Innovate."</p>
    <p>7. "Live a Balanced Life."</p>
</div>




<p></p>
