@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Centric Corporate<br />
    1215 Lyons Rd Bldg F<br />
    Dayton, OH 45458-1858<br />
    <abbr title="Phone">P:</abbr>
    888.781.7567<br />
    <br />
    Other Locations<br />
    Boston - Charlotte - Chicago<br />
    Cincinnati - Cleveland - Columbus<br />
    India - Indianapolis - Louisville<br />
    Miami - Seattle - St. Louis - Tampa<br />
</address>

