<style>
    body {
        background-color: #e6e6e6;
    }
    
    .Contact {
        background-color: #2A1E5E;
        color: white;
        margin: 20px;
        padding: 20px;
    }

    h2 {
        color: #F0B734;
    }

    p {
        font-size: 20px;
    }
</style>



<div class="Contact">
    <h2>Contact</h2>
    <p>
        Centric Corporate<br />
        1215 Lyons Rd Bldg F<br />
        Dayton, OH 45458-1858<br />
        <abbr title="Phone">P:</abbr>
        888.781.7567<br />
        <br />
        Other Locations:<br />
        Boston - Charlotte - Chicago<br />
        Cincinnati - Cleveland - Columbus<br />
        India - Indianapolis - Louisville<br />
        Miami - Seattle - St. Louis - Tampa<br />
    </p>
</div>
