@{
    ViewBag.Title = "Centric Project Homepage";
}

    <style>
        body {
            background-color: #e6e6e6;
        }
    </style>

<div style="background-color: #2A1E5E;" class="jumbotron">
    <h1 style="color:#F0B734;">Centric Employee Recognition Application</h1>
    <p style="color: whitesmoke ;"class="lead"></p>
</div>

<div class="clearfix">
    <div class="clearfix">
        <div class="col-md-4" style="border: 3px solid #2A1E5E">
            <h2>About Centric</h2>
            <p>
                In 1999, three longtime friends came up with an idea. They envisioned a different kind of consulting firm – one that allowed them, and their employees, to get more out of life and make a better impact on others.<br /><br /><br /><br /><br />
            </p>
            <p><a class="btn btn-default" style="background-color:whitesmoke" href="https://centricconsulting.com/about-us/our-story/">Learn more about Centric's history &raquo;</a> <br/> </p>
        </div>
        <div class="col-md-4" style="border: 3px solid #2A1E5E">
            <h2>Centrics Values</h2>
            <p>
                1. Commit to Delivery Excellence <br />
                2. Embrace Integrity and Openness <br />
                3. Practice Responsible Stewardship <br />
                4. Invest in an Exceptional Culture <br />
                5. Ignite Passion for the Greater Good <br />
                6. Strive to Innovate <br />
                7. Live a Balanced Life <br /><br />

            </p>
            <p><a class="btn btn-default" style="background-color:whitesmoke" href="https://centricconsulting.com/about-us/why-were-here/">Learn more Centric's values&raquo;</a> <br /></p>
        </div>
        <div class="col-md-4" style="border: 3px solid #2A1E5E">
            <h2>Project Charge</h2>
            <p>As a team, our group will work with Centric Consulting and create a working website solution to allow employeees to recognize other employees for positive displays and actions that coincide with Centric's values. <br /><br /><br /><br /><br /><br /><br /> </p>

        </div>
    </div>
</div>