@{
    ViewBag.Title = "Centric Project Homepage";
}

<div style="background-color:blue;" class="jumbotron">
    <h1 style="color:Orange;">Centric</h1>
    <p style="color:orange;"class="lead">Digital, business and technology consulting to transform your business</p>
    <p ><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>About Centric</h2>
        <p>
            In 1999, three longtime friends came up with an idea. They envisioned a different kind of consulting firm – one that allowed them, and their employees, to get more out of life and make a better impact on others.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/our-story/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Centrics Values</h2>
        <p>
            1. Commit to Delivery Excellence <br />
            2. Embrace Integrity and Openness<br />
            3. Practice Responsible Stewardship<br />
            4. Invest in an Exceptional Culture<br />
            5. Ignite Passion for the Greater Good<br />
            6. Strive to Innovate<br />
            7. Live a Balanced Life<br />
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This Project</h2>
        <p>As a team, our group will work with Centric Consulting and create a working website solution to increase business processes. </p>

    </div>
</div>
